$fonts-path: '../fonts/';

@font-face {
  font-family:'OpenSans';
  src: url('#{$fonts-path}Open Sans Bold.eot');
  src: url('#{$fonts-path}Open Sans Bold.eot?#iefix') format('embedded-opentype'),
  url('#{$fonts-path}Open Sans Bold.woff2') format('woff2'),
  url('#{$fonts-path}Open Sans Bold.woff') format('woff'),
  url('#{$fonts-path}Open Sans Bold.ttf') format('truetype'),
  url('#{$fonts-path}Open Sans Bold.svg#Open Sans Bold') format('svg');
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-0513;
}

@font-face {
  font-family:'OpenSans';
  src: url('#{$fonts-path}Open Sans Regular.eot');
  src: url('#{$fonts-path}Open Sans Regular.eot?#iefix') format('embedded-opentype'),
  url('#{$fonts-path}Open Sans Regular.woff2') format('woff2'),
  url('#{$fonts-path}Open Sans Regular.woff') format('woff'),
  url('#{$fonts-path}Open Sans Regular.ttf') format('truetype'),
  url('#{$fonts-path}Open Sans Regular.svg#Open Sans Regular') format('svg');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-0513;
}

@font-face {
  font-family: 'OpenSans';
  src: url('#{$fonts-path}Open Sans ExtraBold.eot');
  src: url('#{$fonts-path}Open Sans ExtraBold.eot?#iefix') format('embedded-opentype'),
  url('#{$fonts-path}Open Sans ExtraBold.woff2') format('woff2'),
  url('#{$fonts-path}Open Sans ExtraBold.woff') format('woff'),
  url('#{$fonts-path}Open Sans ExtraBold.ttf') format('truetype'),
  url('#{$fonts-path}Open Sans ExtraBold.svg#Open Sans ExtraBold') format('svg');
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-0513;
}

  @font-face {
    font-family: 'OpenSans';
    src: url('#{$fonts-path}Open Sans Light.eot');
    src: url('#{$fonts-path}Open Sans Light.eot?#iefix') format('embedded-opentype'),
    url('#{$fonts-path}Open Sans Light.woff2') format('woff2'),
    url('#{$fonts-path}Open Sans Light.woff') format('woff'),
    url('#{$fonts-path}Open Sans Light.ttf') format('truetype'),
    url('#{$fonts-path}Open Sans Light.svg#Open Sans Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-0513;
  }

  @font-face {
    font-family: 'OpenSans';
    src: url('#{$fonts-path}Open Sans Medium.eot');
    src: url('#{$fonts-path}Open Sans Medium.eot?#iefix') format('embedded-opentype'),
    url('#{$fonts-path}Open Sans Medium.woff2') format('woff2'),
    url('#{$fonts-path}Open Sans Medium.woff') format('woff'),
    url('#{$fonts-path}Open Sans Medium.ttf') format('truetype'),
    url('#{$fonts-path}Open Sans Medium.svg#Open Sans Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-0513;
  }
@font-face {
  font-family:'OpenSans';
  src: url('#{$fonts-path}Open Sans SemiBold.eot');
  src: url('#{$fonts-path}Open Sans SemiBold.eot?#iefix') format('embedded-opentype'),
  url('#{$fonts-path}Open Sans SemiBold.woff2') format('woff2'),
  url('#{$fonts-path}Open Sans SemiBold.woff') format('woff'),
  url('#{$fonts-path}Open Sans SemiBold.ttf') format('truetype'),
  url('#{$fonts-path}Open Sans SemiBold.svg#Open Sans SemiBold') format('svg');
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-0513;
}