// main colors
$main-first-color: #1F3877;
$main-second-color: green;
$main-third-color: blue;

// colors
$title-color: #111;
$text-color: #ffff;
$input-placeholder-color: #aaa;

// fonts
$font-family-base: 'OpenSans', sans-serif;
$font-family-custom: 'Arial', sans-serif;
$font-family-unique: 'Times New Roman', serif;

// font-weight
$font-weight-light: 300;
$font-weight-medium: 500;
$font-weight-sbold: 600;

// font-size
$font-size-default: 14px;
$line-height-base: 1.25;

// behavior
$transition-base: all .3s ease 0s;

//Bootstrap var
$enable-shadows: true;
$body-color: $text-color;

$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px,
        xxl: 1300px,
);

$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1140px,
        xxl: 1270px,
);