.section-main-slider {
  padding-bottom: 185px;

  .subtitle {
    margin-bottom: 35px;
  }
}

.swiper-container {
  img {
    max-width: 100%;
  }
}
.swiper-wrapper{
max-width: 320px;
}
.slider-title {
  font-size: 22px;
  font-weight: 300;
  line-height: 29px;
}

.slider-text {
  margin-top: 7px;
  font-weight: 400;
}

.slider-buttons {
  position: relative;
  margin-top: 50px;
}


.swiper-button-next, .swiper-button-prev {
  position: absolute;
  width: 12px;
  height: 20px;
  background-size: cover;

}

.swiper-button-prev {
  bottom: 0;
  left: 85%;
  background-image: url("../img/pg-prev.svg");

}

.swiper-button-next {
  background-image: url("../img/pg-next.svg");
}

@media screen and (max-width: 375px) {

}

@media screen and (min-width: 425px) {

}


@include media-breakpoint-up(sm) {
  .swiper-wrapper {
    max-width: 100%;
  }
  .swiper-button-prev {
    bottom: 0;
    left: 92%;
  }
}
@include media-breakpoint-up(md) {


}


@include media-breakpoint-up(lg) {

}

@include media-breakpoint-up(xl) {

}


@include media-breakpoint-up(xxl) {

}