.section-partners {
  padding: 36px 0 145px;

  .button-site {
    margin-top: 30px;
  }

  .subtitle {
    margin-bottom: 50px;
  }
}

.breadcrumbs {
  padding: 40px 0;

  ul {
    display: inline;
   /* flex-flow: row wrap;*/
    word-wrap: break-word;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      display: inline;

      white-space: pre-wrap;
      a{
        display: inline;
      }
      &:not(:first-child){
        padding-left: 5px;
    }
    }

    .active-page {
      opacity: 0.5;
    }
  }
}

.partners-block {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  align-content: flex-start;
  width: 100%;

  &__image {
      max-height: 100%;
      max-width: 345px;
      margin-bottom: 30px;
  }

  &__info {
    display: flex;
    flex-flow: column nowrap;
    align-content: flex-start;
    align-items: flex-start;
    max-width: 600px;

    &-text {
      opacity: 0.8;
      margin-bottom: 20px;
    }

    &-list {
      ul {
        list-style: disc;
        padding-left: 25px;
        opacity: 0.8;
        margin-bottom: 20px;
      }
    }
  }
}

@include media-breakpoint-up(sm) {

}

@include media-breakpoint-up(md) {


}


@include media-breakpoint-up(lg) {
  .partners-block {
    &__image {
      max-width: 460px;
    }
  }
}

@include media-breakpoint-up(xl) {

}


@include media-breakpoint-up(xxl) {

}