.section-principles{
  padding-bottom: 140px;

  .subtitle{
    margin-bottom: 60px;
  }
}
.principles-block{
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: space-between;
  width: 100%;
  &__item-first, &__item-second, &__item-third {
    display: flex;
    position: relative;
    flex-flow: column nowrap;
    align-items: flex-start;
    align-content: flex-start;
    max-width: 350px;
    margin-top: 75px;


    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 100%;
      transform: translate(-100%, -15%);
      background-size: cover;

    }
  }
    &__item-first{
      &::after{
        width: 180px;
        height: 180px;
        background-image: url("../img/planet-img.svg");
      }
    }
    &__item-second{
      &::after{
        width: 207px;
        height: 180px;
        background-image: url("../img/hat-img.svg");
      }
    }
    &__item-third {
      &::after {
        width: 190px;
        height: 180px;
        background-image: url("../img/star-img.svg");
      }
    }
  &__title{
    font-size: 22px;
    line-height: 29px;
    font-weight: 300;
  }
}

@include media-breakpoint-up(sm) {

}

@include media-breakpoint-up(md) {


}


@include media-breakpoint-up(lg) {

}

@include media-breakpoint-up(xl) {
  .principles-block{
    &__item-first, &__item-second, &__item-third {
      margin-top: 0;
    }
  }
}


@include media-breakpoint-up(xxl) {

}