.section-blog {
  padding-bottom: 150px;

  .subtitle{
    margin-bottom: 50px;
  }

}

.blog__title {
  font-size: 22px;
  line-height: 29px;
  font-weight: 300;
  margin: 20px 0 10px;
  opacity: 0.8;
}

.blog__text{
  opacity: 0.8;
  margin-bottom: 10px;
}

.blog__data{
  opacity: 0.5;
}