.section-quality {
  padding-bottom: 140px;

}

.quality-wrapper {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: space-between;
  max-width: 380px;
}

.quality-block {
  display: flex;
  flex-flow: column wrap;
  align-content: flex-start;
  align-items: flex-start;
}

.quality-block__item {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: space-between;
  margin-bottom: 25px;

  &-title {
    font-size: 22px;
    font-weight: 300;
    line-height: 29px;
    margin-bottom: 10px;
  }

  &-text {
  opacity: 0.6;
    margin: 0;
  }
}
@include media-breakpoint-up(lg) {
  .section-quality {
    .subtitle{
      margin-right: 250px;
    }
  }
  .quality-wrapper {
    justify-content: flex-start;
    max-width: 100%;
  }
  .quality-block {
    margin-right: 100px;
  }
}
@include media-breakpoint-up(xl) {
  .section-quality{
    .subtitle{
      margin-right: 0;
    }
  }
  .quality-wrapper {
    justify-content: space-between;
  }
  .quality-block {
    margin-right: 0;
  }
}
