.section-window-info {


  .subtitle {
    margin-bottom: 40px;
  }

  .swiper-wrapper {
    position: relative;
    width: 300px;
    height: 300px;
    img{
      height: 300px;
    }
  }


  .swiper-container {
    margin-left: 10px;
  }

  .slider-buttons {
    position: absolute;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 50px;
    top: 80%;
    left: 80%;
  }

  .swiper-button-prev {
    position: static;
    background-image: url("../img/window-prev.svg");

  }

  .swiper-button-next {
    position: static;
    background-image: url("../img/window-next.svg");
  }

  .loupe {
    position: absolute;
    top: 5%;
    left: 85%;
    width: 20px;
    height: 20px;
    z-index: 2;
    color: black;
  }
}

.window-info-block {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
  margin-bottom: 50px;

}

.window-info-block__text {
  margin-top: 20px;
  max-width: 360px; /**/

  p {
    margin-bottom: 20px;
    opacity: 0.8;
  }
}

.technical-specification {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 340px;


  &__spoiler {
    width: 560px;

    details summary::-webkit-details-marker {
      display: none
    }

    /* Убираем стандартный маркер Firefox */
    details > summary {
      list-style: none;
    }

    details {
      transition: height 3s ease-in;
      font-size: 22px;
      line-height: 29px;
      font-weight: 300;
      margin-bottom: 80px; /**/
    }

    details summary::after {
      content: "";
      margin: 10px 0 0 10px;
      position: absolute;
      background: center no-repeat url("../img/tech-arrow.svg");
      background-size: contain;
      width: 15px;
      height: 15px;
    }

    details[open] summary::after {
      background: center no-repeat url("../img/tech-arrow-open.svg");
    }

    img {
      margin-top: 30px;
      max-width: 360px; /**/
    }

    details {
      transition: height 2s ease;
    }

    details:not([open]) {
      height: 1em;
    }

    details[open] {
      height: 3.75em;
    }
  }

  &__text {
    padding-left: 20px;
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    margin-bottom: 50px;
  }

  &__title {
    font-size: 22px;
    line-height: 29px;
    font-weight: 300;
  }

  &__spoiler {
    details summary::-webkit-details-marker {
      display: none
    }

    /* Убираем стандартный маркер Firefox */
    details > summary {
      list-style: none;
    }
  }

}
.zoom-image{
 display:none;
}

.active-image{
  display: block;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    width:375px;
    height: 400px;
    margin: auto;
    box-shadow: 0 0 20px #000, 0 0 0 1000px rgba(210, 210, 210, .9);
  img:focus, /* убрать строку, если не нужно, чтобы при клике на увеличенное фото, оно возвращалось в исходное состояние */
  img:focus ~ * {
    pointer-events: none;
    cursor: zoom-out;
  }


}

@include media-breakpoint-up(sm) {
  .active-image{
    width: 500px;
    height: 500px;
  }

}

@include media-breakpoint-up(md) {


}


@include media-breakpoint-up(lg) {
  .window-info-block__text {
    max-width: 770px;
  }
  .technical-specification {
    width: 100%;
    &__text {
      padding-left: 50px;
    }

    &__spoiler {
      details {
        margin-bottom: 100px;
      }

      img {
        max-width: 560px;
      }
    }
  }

}

@include media-breakpoint-up(xl) {
  .section-window-info {
    padding-bottom: 150px;

    .swiper-container {
      margin-left: 40px;
    }
  }

  .technical-specification {
    &__spoiler {
      details {
        /* margin-bottom: 100px;*/
      }
    }
  }
}


@include media-breakpoint-up(xxl) {

}