/*************************************************
********************* HEADER *********************
*************************************************/
header.header {
  order: 1;
  -webkit-order: 1;
  position: relative;
  min-width: 320px;
  width: 100%;
  z-index: 100;
}

.header-wrapper {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  align-content: center;
}

.site-lang {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 70px;

    a {
    text-decoration: none;
    }

    .active {
    opacity: 0.5;
    }
}

.main-menu-wrapper{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: auto;
}
.main-menu{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  max-width: 385px;
  width: auto;
  margin: 0;
  padding: 0;
}
.main-menu-action{
  display:flex;
  flex-flow: column nowrap;
  align-content: flex-start;
  align-items: flex-start;
  flex-basis: content;
  width: auto;
}