/*************************************************
********************* HEADER *********************
*************************************************/
header.header {
  order: 1;
  -webkit-order: 1;
  position: relative;
  min-width: 320px;
  width: 100%;
  z-index: 100;
  background-color: $main-first-color;
}

.header-wrapper {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  align-content: center;
  padding: 20px 0 20px;

  &-toggle {
    position: relative;
    width: 21px;
    height: 14px;
    padding: 0;
    margin: 0;
    background: none;
    border: none;
    outline: none !important;

    &::before, &::after {
      content: '';
      position: absolute;
      left: 50%;
      width: 21px;
      height: 2px;
      background: #FFFFFF;
      transform: translateX(-50%);
      transition: $transition-base;
    }

    &::before {
      top: 0;
    }

    &::after {
      bottom: 0;
    }

    &.active {
      &::before {
        top: 50%;
        transform: translate(-50%, -50%) rotate(-45deg);
        z-index: 32;
      }

      &::after {
        top: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
        z-index: 32;
      }
    }

    .burger-menu_lines {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 21px;
      height: 2px;
      background: #FFFFFF;
      transform: translate(-50%, -50%);
      transition: $transition-base;

      &.active {
        opacity: 0;

      }
    }
  }
}

.logo-block {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.site-lang {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding-left: 20px;


  a {
    text-decoration: none;
    line-height: 14px;

    &:not(:last-child) {
      margin-right: 10px;
    }
  }

  .active {
    opacity: 0.5;
  }
}

.main-menu-wrapper {
  position: absolute;
  top: 0;
  right: -100%;
  display: flex;
  flex-flow: column nowrap;
  /* flex-flow: row nowrap;*/
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  height: 4000px;
  padding: 120px 65px 0 30px;
  /* width: auto;*/
  /*opacity: 1; !**!*/
  background: #1F3877; /**/
  width: 100%;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;

  &.active {
    right: 0;
    z-index: 30;
    padding: 120px 65px 0 30px;

  }
}

.main-menu {
  display: flex;
  /*flex-flow: row nowrap;*/
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  width: 100%;
  /*max-width: 385px;*/
  padding: 0;
  z-index: 10;
  height: 225px;
  margin-bottom: 75px;


  a {
    text-decoration: none;
    /* line-height: 14px;*/
    text-transform: capitalize;
    font-size: 22px;
    line-height: 29px;
    font-weight: 300;

  }

  li {
    margin: 0;

    &:not(:last-child) {
      /*margin-right: 30px;*/
      margin: 0;
    }
  }
}

.main-menu-action {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center; /**/
  align-content: center; /**/
  width: auto;
  height: 50px;
  /* padding-left: 50px;*/

  a {
    font-size: 18px;
    line-height: 18px;
    /* font-weight: 600;*/
    font-weight: 300;
    text-decoration: none;
  }
}

.burger-menu_overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;

  &.active {
    display: block;
    background-color: rgba(0, 0, 0, 0.5);
  }
}

.data-block {
  display: flex;
  flex-flow: column nowrap;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;

  .address {
    margin-bottom: 50px;
  }

  .copyright {
    border-top: 1px solid rgba(255, 255, 255, 0.6);

    .copyright__social {
      flex-flow: row wrap;
      a {
        margin-left: 10px;
        text-decoration: none;
      }
    }
  }
  a {
    img {
      width: 20px;
      height: 20px;

    }

  }
}

@include media-breakpoint-up(sm) {
  .main-menu-wrapper {
    max-width: 475px;
    .site-lang {
      padding-left: 50px;
    }
  }
}

@include media-breakpoint-up(md) {

}


@include media-breakpoint-up(lg) {
  .main-menu-wrapper {
    position: static;
    flex-flow: row nowrap;
    height: auto;
    max-width: 100%;
    padding: 0;
    justify-content: flex-end;
  }

  .header-wrapper {
    &-toggle {
      display: none;
    }
  }
  .data-block {
    display: none;
  }

  .main-menu {
    display: flex;
    flex-flow: row nowrap;
    height: auto;
    padding: 0;
    margin: 0;
    max-width: 385px;

    a {
      text-decoration: none;
      line-height: 14px;
      font-size: 14px;
      font-weight: 400;

    }
  }
  .main-menu-action {
    padding-left: 50px;
    align-items: flex-start; /**/
    align-content: flex-start; /**/
    a {
      font-weight: 600;
    }
  }
}

@include media-breakpoint-up(xl) {

}


@include media-breakpoint-up(xxl) {

}