/*************************************************
********************* HEADER *********************
*************************************************/
header.header {
  order: 1;
  -webkit-order: 1;
  position: relative;
  min-width: 320px;
  width: 100%;
  z-index: 100;
  background-color: $main-first-color;
}

.header-wrapper {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  align-content: center;
  padding: 20px 0 20px;
}
.logo-block{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.site-lang {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding-left: 50px;


    a {
    text-decoration: none;
      line-height: 14px;
      &:not(:last-child) {
        margin-right: 10px;
      }
    }

    .active {
    opacity: 0.5;
    }
}

.main-menu-wrapper{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: auto;
}
.main-menu {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  max-width: 385px;
  width: auto;
  margin: 0;
  padding: 0;

  a{
    text-decoration: none;
    line-height: 14px;
  }
  li {
    margin: 0;
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}
.main-menu-action{
  display:flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  width: auto;
  height: 50px;
  padding-left: 50px;
  a{
    font-size: 18px;
    line-height: 18px;
    font-weight: 600;
    text-decoration: none;
  }
}