<!DOCTYPE html>
<html lang="ru">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, maximum-scale=1, shrink-to-fit=no">
    <title>Главная</title>
</head>
<body class="loaded">
<!-- BODY -->
<div class="main-wrapper">
    <!-- HEADER -->
    <header class="header">
        <div class="container">
            <div class="header-wrapper">
                <a href="index.html" class="logo">
                    <picture>
                        <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/icon.svg') %>"
                             alt="alt-image" title="title-image">
                    </picture>
                </a>
                <div class="site-lang">
                    <a href="#">ua</a>
                    <a href="#" class="active">ru</a>
                    <a href="#">en</a>
                </div>
                <div class="main-menu-wrapper">
                    <ul class="main-menu">
                        <li><a href="">о нас</a></li>
                        <li><a href="">продукция</a></li>
                        <li><a href="">проекты</a></li>
                        <li><a href="">блог</a></li>
                        <li><a href="">контакты</a></li>
                    </ul>
                    <div class="main-menu-action">
                        <div class="phone"><a href="tel:+380442479217">+38 (044) 247-92-17 </a></div>
                        <div class="phone"><a href="tel:++380505201188">+38 (050) 520-11-88</a></div>
                    </div>

                </div>
            </div>
        </div>
    </header>
    <!-- HEADER END -->

    <!-- CONTENT -->
    <main class="content">


        <div class="section" hidden>
            <div class="container">
                <h2>Section Slider</h2>

                <div class="main-slider swiper-container">
                    <div class="swiper-wrapper">
                        <!-- Slides -->
                        <div class="swiper-slide">
                            <picture>
                                <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/placeholder-img.jpg') %>" alt="example" title="example">
                            </picture>
                        </div>

                        <div class="swiper-slide">
                            <picture>
                                <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/placeholder-img.jpg') %>" alt="example" title="example">
                            </picture>
                        </div>

                        <div class="swiper-slide">
                            <picture>
                                <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/placeholder-img.jpg') %>" alt="example" title="example">
                            </picture>
                        </div>

                        <div class="swiper-slide">
                            <picture>
                                <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/placeholder-img.jpg') %>" alt="example" title="example">
                            </picture>
                        </div>

                        <div class="swiper-slide">
                            <picture>
                                <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/placeholder-img.jpg') %>" alt="example" title="example">
                            </picture>
                        </div>
                    </div>

                    <div class="swiper-pagination"></div>

                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>

                    <!--<div class="swiper-scrollbar"></div>-->
                </div>
            </div>
        </div>
    </main>
    <!-- CONTENT END -->

    <!-- FOOTER -->
    <footer class="footer">

    </footer>
    <!-- FOOTER END -->
</div>

<div class="icon-load">
    <picture><img src="<%= require('./img/loader.svg') %>" alt="pre-loader"></picture>
</div>
<!-- BODY END   -->
</body>
</html>
