<!DOCTYPE html>
<html lang="ru">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, maximum-scale=1, shrink-to-fit=no">
    <title>Окна</title>
</head>
<body class="loaded">
<!-- BODY -->
<div class="main-wrapper">
    <!-- HEADER -->
    <header class="header">
        <div class="container">
            <div class="header-wrapper">
                <div class="logo-block">
                    <a href="index.html" class="logo">
                        <picture>
                            <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/icon.svg') %>"
                                 alt="alt-image" title="title-image">
                        </picture>
                    </a>
                    <div class="site-lang">
                        <a href="#">ua</a>
                        <a href="#" class="active">ru</a>
                        <a href="#">en</a>
                    </div>
                </div>
                <div class="main-menu-wrapper">
                    <ul class="main-menu">
                        <li><a href="">о нас</a></li>
                        <li><a href="">продукция</a></li>
                        <li><a href="">проекты</a></li>
                        <li><a href="">блог</a></li>
                        <li><a href="">контакты</a></li>
                    </ul>
                    <div class="main-menu-action">
                        <a href="tel:+380442479217">+38 (044) 247-92-17</a>
                        <a href="tel:++380505201188">+38 (050) 520-11-88</a>
                    </div>
                    <div class="data-block">
                        <a class="email" href="mailto:elitcon@ukr.net">elitcon@ukr.net</a>
                        <p class="address">г. Киев, ул. Владимира Сосюры, 6, оф. 305</p>
                        <div class="copyright">
                            <p class="copyright__text">© Все права защищены</p>
                            <div class="copyright__social">
                                <a href="">
                                    <picture>
                                        <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/facebook.svg') %>"
                                             alt="alt-image" title="title-image">
                                    </picture>
                                </a>
                                <a href="">
                                    <picture>
                                        <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/insta.svg') %>"
                                             alt="alt-image" title="title-image">
                                    </picture>
                                </a>
                                <a href="">
                                    <picture>
                                        <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/linkden.svg') %>"
                                             alt="alt-image" title="title-image">
                                    </picture>
                                </a>
                                <a href="">
                                    <picture>
                                        <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/youtube.svg') %>"
                                             alt="alt-image" title="title-image">
                                    </picture>
                                </a>
                            </div>
                        </div>
                    </div>

                </div>
                <button class="header-wrapper-toggle">
                    <span class="burger-menu_lines"></span>
                </button>
                <!--<div class="main-menu-wrapper__burger"></div>-->
            </div>
        </div>
        <div class="burger-menu_overlay"></div>
    </header>
    <!-- HEADER END -->

    <!-- CONTENT -->
    <main class="content">
        <div class="container">
            <nav aria-label="Breadcrumb" class="breadcrumbs">
                <ul>
                    <li><a href="#">Главная</a> /</li>
                    <li class="active-page"><a href="#">Окна</a></li>
                </ul>
            </nav>
        </div>

        <section class="section-windows-slider">
            <div class="container">
                <p class="subtitle">Окна</p>

                <div class="windows-card-block">
                    <div class="card-block">
                        <picture>
                            <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/window-img.png') %>" alt="example" title="example">
                        </picture>
                        <div class="card-block__item-first">
                            <p class="card-block__item-first_title">MasterLine 10</p>
                            <p class="card-block__item-first_text">Система Masterline 10 разработана для современных и будущих трендов в архитектуре: пассивных домов,
                                максимум дневного света, высокий класс взломостойкости.</p>
                            <button class="button-site button-site__xl">Подробнее</button>
                        </div>
                        <div class="card-block__item-second">
                            <div class="card-block__item-second-container">
                                <p class="card-block__item-second_title">Макс. высота вент. отверстия</p>
                                <p class="card-block__item-second_text">2800 мм</p>
                            </div>
                            <div class="card-block__item-second-container">
                                <p class="card-block__item-second_title">Макс. ширина вент. отверстия</p>
                                <p class="card-block__item-second_text">1200 мм</p>
                            </div>
                            <div class="card-block__item-second-container">
                                <p class="card-block__item-second_title">Водонепроницаемость</p>
                                <p class="card-block__item-second_text">E900 (900 Ра)</p>
                            </div>
                            <div class="card-block__item-second-container">
                                <p class="card-block__item-second_title">Теплоизоляция</p>
                                <p class="card-block__item-second_text">0,90 W/m²K</p>
                            </div>
                            <div class="card-block__item-second-container">
                                <p class="card-block__item-second_title">Акустические хар.</p>
                                <p class="card-block__item-second_text">46 (-1;-4) дБ</p>
                            </div>
                            <div class="card-block__item-second-container">
                                <p class="card-block__item-second_title">Сопротив. ветр. нагрузки</p>
                                <p class="card-block__item-second_text">C5 (2000 Ра)</p>
                            </div>
                            <div class="card-block__item-second-container">
                                <p class="card-block__item-second_title">Макс. толщина стекла</p>
                                <p class="card-block__item-second_text">78 мм</p>
                            </div>
                        </div>
                    </div>

                    <div class="card-block">
                        <picture>
                            <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/window-img.png') %>" alt="example" title="example">
                        </picture>
                        <div class="card-block__item-first">
                            <p class="card-block__item-first_title">MasterLine 10</p>
                            <p class="card-block__item-first_text">Система Masterline 10 разработана для современных и будущих трендов в архитектуре: пассивных домов,
                                максимум дневного света, высокий класс взломостойкости.</p>
                            <button class="button-site button-site__xl">Подробнее</button>
                        </div>
                        <div class="card-block__item-second">
                            <div class="card-block__item-second-container">
                                <p class="card-block__item-second_title">Макс. высота вент. отверстия</p>
                                <p class="cardr-block__item-second_text">2800 мм</p>
                            </div>
                            <div class="card-block__item-second-container">
                                <p class="card-block__item-second_title">Макс. ширина вент. отверстия</p>
                                <p class="card-block__item-second_text">1200 мм</p>
                            </div>
                            <div class="card-block__item-second-container">
                                <p class="card-block__item-second_title">Водонепроницаемость</p>
                                <p class="card-block__item-second_text">E900 (900 Ра)</p>
                            </div>
                            <div class="card-block__item-second-container">
                                <p class="card-block__item-second_title">Теплоизоляция</p>
                                <p class="card-block__item-second_text">0,90 W/m²K</p>
                            </div>
                            <div class="card-block__item-second-container">
                                <p class="card-block__item-second_title">Акустические хар.</p>
                                <p class="card-block__item-second_text">46 (-1;-4) дБ</p>
                            </div>
                            <div class="card-block__item-second-container">
                                <p class="card-block__item-second_title">Сопротив. ветр. нагрузки</p>
                                <p class="card-block__item-second_text">C5 (2000 Ра)</p>
                            </div>
                            <div class="card-block__item-second-container">
                                <p class="card-block__item-second_title">Макс. толщина стекла</p>
                                <p class="card-block__item-second_text">78 мм</p>
                            </div>
                        </div>
                    </div>

                    <div class="card-block">
                        <picture>
                            <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/window-img.png') %>" alt="example" title="example">
                        </picture>
                        <div class="card-block__item-first">
                            <p class="card-block__item-first_title">MasterLine 10</p>
                            <p class="card-block__item-first_text">Система Masterline 10 разработана для современных и будущих трендов в архитектуре: пассивных домов,
                                максимум дневного света, высокий класс взломостойкости.</p>
                            <button class="button-site button-site__xl">Подробнее</button>
                        </div>
                        <div class="card-block__item-second">
                            <div class="card-block__item-second-container">
                                <p class="card-block__item-second_title">Макс. высота вент. отверстия</p>
                                <p class="card-block__item-second_text">2800 мм</p>
                            </div>
                            <div class="card-block__item-second-container">
                                <p class="card-block__item-second_title">Макс. ширина вент. отверстия</p>
                                <p class="card-block__item-second_text">1200 мм</p>
                            </div>
                            <div class="card-block__item-second-container">
                                <p class="card-block__item-second_title">Водонепроницаемость</p>
                                <p class="card-block__item-second_text">E900 (900 Ра)</p>
                            </div>
                            <div class="card-block__item-second-container">
                                <p class="card-block__item-second_title">Теплоизоляция</p>
                                <p class="card-block__item-second_text">0,90 W/m²K</p>
                            </div>
                            <div class="card-block__item-second-container">
                                <p class="card-block__item-second_title">Акустические хар.</p>
                                <p class="card-block__item-second_text">46 (-1;-4) дБ</p>
                            </div>
                            <div class="card-block__item-second-container">
                                <p class="card-block__item-second_title">Сопротив. ветр. нагрузки</p>
                                <p class="card-block__item-second_text">C5 (2000 Ра)</p>
                            </div>
                            <div class="card-block__item-second-container">
                                <p class="card-block__item-second_title">Макс. толщина стекла</p>
                                <p class="card-block__item-second_text">78 мм</p>
                            </div>
                        </div>
                    </div>

                    <div class="card-block">
                        <picture>
                            <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/window-img.png') %>" alt="example" title="example">
                        </picture>
                        <div class="card-block__item-first">
                            <p class="card-block__item-first_title">MasterLine 10</p>
                            <p class="card-block__item-first_text">Система Masterline 10 разработана для современных и будущих трендов в архитектуре: пассивных домов,
                                максимум дневного света, высокий класс взломостойкости.</p>
                            <button class="button-site button-site__xl">Подробнее</button>
                        </div>
                        <div class="card-block__item-second">
                            <div class="card-block__item-second-container">
                                <p class="card-block__item-second_title">Макс. высота вент. отверстия</p>
                                <p class="cardr-block__item-second_text">2800 мм</p>
                            </div>
                            <div class="card-block__item-second-container">
                                <p class="card-block__item-second_title">Макс. ширина вент. отверстия</p>
                                <p class="card-block__item-second_text">1200 мм</p>
                            </div>
                            <div class="card-block__item-second-container">
                                <p class="card-block__item-second_title">Водонепроницаемость</p>
                                <p class="card-block__item-second_text">E900 (900 Ра)</p>
                            </div>
                            <div class="card-block__item-second-container">
                                <p class="card-block__item-second_title">Теплоизоляция</p>
                                <p class="card-block__item-second_text">0,90 W/m²K</p>
                            </div>
                            <div class="card-block__item-second-container">
                                <p class="card-block__item-second_title">Акустические хар.</p>
                                <p class="card-block__item-second_text">46 (-1;-4) дБ</p>
                            </div>
                            <div class="card-block__item-second-container">
                                <p class="card-block__item-second_title">Сопротив. ветр. нагрузки</p>
                                <p class="card-block__item-second_text">C5 (2000 Ра)</p>
                            </div>
                            <div class="card-block__item-second-container">
                                <p class="card-block__item-second_title">Макс. толщина стекла</p>
                                <p class="card-block__item-second_text">78 мм</p>
                            </div>
                        </div>
                    </div>

                    <div class="card-block">
                        <picture>
                            <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/window-img.png') %>" alt="example" title="example">
                        </picture>
                        <div class="card-block__item-first">
                            <p class="card-block__item-first_title">MasterLine 10</p>
                            <p class="card-block__item-first_text">Система Masterline 10 разработана для современных и будущих трендов в архитектуре: пассивных домов,
                                максимум дневного света, высокий класс взломостойкости.</p>
                            <button class="button-site button-site__xl">Подробнее</button>
                        </div>
                        <div class="card-block__item-second">
                            <div class="card-block__item-second-container">
                                <p class="card-block__item-second_title">Макс. высота вент. отверстия</p>
                                <p class="cardr-block__item-second_text">2800 мм</p>
                            </div>
                            <div class="card-block__item-second-container">
                                <p class="card-block__item-second_title">Макс. ширина вент. отверстия</p>
                                <p class="card-block__item-second_text">1200 мм</p>
                            </div>
                            <div class="card-block__item-second-container">
                                <p class="card-block__item-second_title">Водонепроницаемость</p>
                                <p class="card-block__item-second_text">E900 (900 Ра)</p>
                            </div>
                            <div class="card-block__item-second-container">
                                <p class="card-block__item-second_title">Теплоизоляция</p>
                                <p class="card-block__item-second_text">0,90 W/m²K</p>
                            </div>
                            <div class="card-block__item-second-container">
                                <p class="card-block__item-second_title">Акустические хар.</p>
                                <p class="card-block__item-second_text">46 (-1;-4) дБ</p>
                            </div>
                            <div class="card-block__item-second-container">
                                <p class="card-block__item-second_title">Сопротив. ветр. нагрузки</p>
                                <p class="card-block__item-second_text">C5 (2000 Ра)</p>
                            </div>
                            <div class="card-block__item-second-container">
                                <p class="card-block__item-second_title">Макс. толщина стекла</p>
                                <p class="card-block__item-second_text">78 мм</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="pagination-block">
                    <div class="prev-arrow">
                        <a href="#">
                            <img src="./img/pg-prev.svg" alt="arrow-prev">
                        </a>
                    </div>
                    <ul class="list-numbers">
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a class="active" href="#">3</a></li>
                        <li>...</li>
                        <li><a href="#">6</a></li>
                    </ul>
                    <div class="next-arrow">
                        <a href="#">
                            <img src="./img/pg-next.svg" alt="arrow-next">
                        </a>
                    </div>
                </div>

            </div>
        </section>

    </main>
    <!-- CONTENT END -->

    <!-- FOOTER -->
    <footer class="footer">
        <div class="container">
            <div class="footer-wrapper">
                <div class="footer-contact">
                    <p class="subtitle">Интересуют алюминиевые окна?</p>
                    <div class="phone">
                        <a href="tel:+380442479217">+38 (044) 247-92-17</a>
                        <a href="tel:++380505201188">+38 (050) 520-11-88</a>
                    </div>
                    <a class="email" href="mailto:elitcon@ukr.net">elitcon@ukr.net</a>
                    <p class="address">г. Киев, ул. Владимира Сосюры, 6, оф. 305</p>
                </div>
                <div class="footer-action">
                    <p id="anchor" class="contact-us">Оставьте свои данные и мы свяжемся с Вами:</p>
                    <input type="text" class="form-control" placeholder="Имя">
                    <input type="text" class="form-control" placeholder="Телефон">
                    <input type="email" class="form-control" placeholder="E-mail">
                    <div class="checkbox">
                        <label>
                            <input class="custom-checkbox" type="checkbox"> <!--disabled="disabled"-->
                            <span> Даю согласие на обработку <a href="#">персональных данных</a></span>
                        </label>
                    </div>
                    <button class="button-site button-site__xl" id="buttonClick">Связаться</button>
                    <p class="accepted" id="welldoneText">Данные отправлены! Мы свяжемся с вами в ближайшее время.</p>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="copyright">
                <p class="copyright__text">© Все права защищены</p>
                <div class="copyright__social">
                    <a href="">
                        <picture>
                            <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/facebook.svg') %>"
                                 alt="alt-image" title="title-image">
                        </picture>
                    </a>
                    <a href="">
                        <picture>
                            <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/insta.svg') %>"
                                 alt="alt-image" title="title-image">
                        </picture>
                    </a>
                    <a href="">
                        <picture>
                            <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/linkden.svg') %>"
                                 alt="alt-image" title="title-image">
                        </picture>
                    </a>
                    <a href="">
                        <picture>
                            <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/youtube.svg') %>"
                                 alt="alt-image" title="title-image">
                        </picture>
                    </a>
                </div>
            </div>
        </div>
    </footer>
    <!-- FOOTER END -->
</div>

<div class="icon-load">
    <picture><img src="<%= require('./img/loader.svg') %>" alt="pre-loader"></picture>
</div>
<!-- BODY END   -->

</body>
</html>